@tailwind base;
@tailwind components;
@tailwind utilities;

#auto-save-toggle:checked ~ .dot {
  transform: translateX(100%);
  background-color: #ffffff;
}

/* Thêm các lớp mới để căn giữa Modal hoàn hảo */
.modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    padding: 1rem;
}

.modal-content {
    background-color: #FFFFFF; /* Hoặc màu secondary của bạn */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 56rem; /* Tăng max-width để modal rộng hơn */
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    animation: fadeIn 0.3s ease-out;
}